In [1]:
import pandas as pd

In [2]:
df_emiten = pd.read_csv("IDX_StockList_20230907.csv")

In [3]:
df_emiten.head()

,No,Code,Company Name,Listing Date,Shares,Listing Board
0,1,BJTM,Bank Pembangunan Daerah Jawa Timur Tbk.,12 Jul 2012,"14,865,343,101",Main
1,2,BKDP,Bukit Darmo Property Tbk.,15 Jun 2007,"7,513,992,252",Development
2,3,BKSL,Sentul City Tbk.,28 Jul 1997,"167,708,902,705",Watchlist
3,4,BKSW,Bank QNB Indonesia Tbk.,21 Nov 2002,"34,953,681,505",Development
4,5,BLTA,Berlian Laju Tanker Tbk.,26 Mar 1990,"25,940,187,103",Watchlist

In [4]:
df = pd.read_csv("kontan_articles.csv", header=None)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124067 entries, 0 to 124066
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       124067 non-null  object
 1   1       124062 non-null  object
 2   2       124067 non-null  object
 3   3       124067 non-null  object
 4   4       124062 non-null  object
dtypes: object(5)
memory usage: 4.7+ MB

In [6]:
df.head()

,0,1,2,3,4
0,https://investasi.kontan.co.id/news/energi-meg...,2023-07-31 22:55:07+07:00,"['Grahanusa Mediatama', 'Akhmad Suryahadi']",Energi Mega Persada (ENRG) Akuisisi Dua Aset M...,Reporter: Akhmad Suryahadi | Editor: Tendi Mah...
1,https://investasi.kontan.co.id/news/astra-agro...,2023-07-31 22:52:47+07:00,"['Grahanusa Mediatama', 'Pulina Nityakanti']",Astra Agro Lestari (AALI) Catat Penurunan Kine...,Reporter: Pulina Nityakanti | Editor: Tendi Ma...
2,https://investasi.kontan.co.id/news/wika-gedun...,2023-07-31 22:47:36+07:00,"['Grahanusa Mediatama', 'Yudho Winarto']","Wika Gedung (WEGE) Raup Pendapatan Rp 1,63 Tri...",ILUSTRASI. Pembangunan kawasan Hunian Pekerja ...
3,https://investasi.kontan.co.id/news/cek-rekome...,2023-07-31 22:42:02+07:00,"['Grahanusa Mediatama', 'Aris Nurjani']",Cek Rekomendasi Saham untuk UNVR dan MYOR dari...,Reporter: Aris Nurjani | Editor: Yudho Winarto...
4,https://investasi.kontan.co.id/news/astra-agro...,2023-07-31 22:30:15+07:00,"['Grahanusa Mediatama', 'Pulina Nityakanti']","Astra Agro (AALI) Mencatat Produksi 2,1 Juta T...",Reporter: Pulina Nityakanti | Editor: Wahyu T....

In [8]:
import nlp.ner
import json

In [9]:
# testcase
text = """
MEDCOW is not the same as MEDC. 
JAKARTA is not the same with ARTA. 
KARTOS is not the same with ARTO.
Telkom Indonesia (Persero) Tbk. is also known as TLKM.
"""

In [10]:
mentions = nlp.ner.extract_company_mentions(text, df_emiten)

[{'start': 63, 'end': 67, 'text': 'ARTA', 'ticker': 'ARTA'}, {'start': 98, 'end': 102, 'text': 'ARTO', 'ticker': 'ARTO'}, {'start': 27, 'end': 31, 'text': 'MEDC', 'ticker': 'MEDC'}, {'start': 104, 'end': 134, 'text': 'Telkom Indonesia (Persero) Tbk', 'ticker': 'TLKM'}, {'start': 153, 'end': 157, 'text': 'TLKM', 'ticker': 'TLKM'}]

In [11]:
mentions_json = json.dumps(mentions, indent=2)  # Convert to JSON string with indentation
print(mentions_json)

[
  {
    "start": 63,
    "end": 67,
    "text": "ARTA",
    "ticker": "ARTA"
  },
  {
    "start": 98,
    "end": 102,
    "text": "ARTO",
    "ticker": "ARTO"
  },
  {
    "start": 27,
    "end": 31,
    "text": "MEDC",
    "ticker": "MEDC"
  },
  {
    "start": 104,
    "end": 134,
    "text": "Telkom Indonesia (Persero) Tbk",
    "ticker": "TLKM"
  },
  {
    "start": 153,
    "end": 157,
    "text": "TLKM",
    "ticker": "TLKM"
  }
]

In [16]:
# testcase
text = """
Energi Mega Persada (ENRG) Akuisisi Dua Aset Minyak di Riau, Ini Rinciannya","Reporter: Akhmad Suryahadi | Editor: Tendi Mahadi KONTAN.CO.ID - JAKARTA. PT Energi Mega Persada Tbk (ENRG) melalui anak usahanya, telah menandatangani perjanjian jual beli untuk mengakuisisi dua aset migas yang telah berproduksi di Provinsi Riau pada Senin (31/7). Sebelumnya, emiten migas ini telah melalui proses lelang terbatas. PT EMP Energi Gandewa mengakuisisi 90% kepemilikan dan operatorship di blok KKS Siak dari PT Pertamina Hulu Energi Siak. Minyak yang diproduksikan Siak saat ini dijual melalui Terminal Dumai ke PT Kilang Pertamina Internasional Sementara PT EMP Energi Riau mengakuisisi 90% kepemilikan dan operatorship di blok KKS Kampar dari PT Pertamina Hulu Energi Kampar. Kampar juga menjual produksi minyaknya ke KPI melalui Terminal Buatan. Baca Juga: Harga CPO Belum Stabil, Pendapatan Astra Agro Lestari (AALI) Turun pada Semester I Saat ini, kedua blok tersebut adalah blok produksi dengan produksi harian di sekitar 2.200 barel – 2.600 barel minyak Syailendra S. Bakrie, CEO dari EMP mengatakan, akuisisi ini sejalan dengan strategi pengembangan bisnis ENRG. Mengingat kedua aset akuisisi ini lokasinya berdekatan dengan beberapa aset EMP lainnya yang telah berproduksi di Riau, ENRG mengharapkan akuisisi ini dapat mengoptimalisasikan sinergi antara aset-aset tersebut. “Dan terus memaksimalkan partisipasi kami di program Pemerintah menuju produksi Indonesia sebanyak 1 juta barrel minyak dan 12 miliar kaki kubik gas per hari di tahun 2030,” kata Syailendra dalam siaran pers, Senin (31/7). Cek Berita dan Artikel yang lain di Google News DONASI, Dapat Voucer Gratis! Sebagai ungkapan terimakasih atas perhatian Anda, tersedia voucer gratis senilai donasi yang bisa digunakan berbelanja di Dukungan Anda akan menambah semangat kami untuk menyajikan artikel-artikel yang berkualitas dan bermanfaat.Sebagai ungkapan terimakasih atas perhatian Anda, tersedia voucer gratis senilai donasi yang bisa digunakan berbelanja di KONTAN Store DUKUNG KONTAN
"""

In [17]:
mentions = nlp.ner.extract_company_mentions(text, df_emiten)

In [18]:
mentions_json = json.dumps(mentions, indent=2)  # Convert to JSON string with indentation
print(mentions_json)

[
  {
    "start": 156,
    "end": 179,
    "text": "Energi Mega Persada Tbk",
    "ticker": "ENRG"
  },
  {
    "start": 22,
    "end": 26,
    "text": "ENRG",
    "ticker": "ENRG"
  },
  {
    "start": 181,
    "end": 185,
    "text": "ENRG",
    "ticker": "ENRG"
  },
  {
    "start": 1159,
    "end": 1163,
    "text": "ENRG",
    "ticker": "ENRG"
  },
  {
    "start": 1285,
    "end": 1289,
    "text": "ENRG",
    "ticker": "ENRG"
  },
  {
    "start": 909,
    "end": 913,
    "text": "AALI",
    "ticker": "AALI"
  }
]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124067 entries, 0 to 124066
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       124067 non-null  object
 1   1       124062 non-null  object
 2   2       124067 non-null  object
 3   3       124067 non-null  object
 4   4       124062 non-null  object
dtypes: object(5)
memory usage: 4.7+ MB

In [37]:
for i in range(5):
    # print(df[4][i])
    text = df[4][i]
    mentions = nlp.ner.extract_company_mentions(text, df_emiten)
    mentions_json = json.dumps(mentions, indent=2)  # Convert to JSON string with indentation
    # print(mentions_json)

In [38]:
mentions

[{'start': 84, 'end': 106, 'text': 'Astra Agro Lestari Tbk', 'ticker': 'AALI'},
 {'start': 108, 'end': 112, 'text': 'AALI', 'ticker': 'AALI'},
 {'start': 311, 'end': 315, 'text': 'AALI', 'ticker': 'AALI'},
 {'start': 639, 'end': 643, 'text': 'AALI', 'ticker': 'AALI'},
 {'start': 753, 'end': 757, 'text': 'AALI', 'ticker': 'AALI'},
 {'start': 969, 'end': 973, 'text': 'AALI', 'ticker': 'AALI'},
 {'start': 1017, 'end': 1021, 'text': 'AALI', 'ticker': 'AALI'},
 {'start': 1538, 'end': 1542, 'text': 'AALI', 'ticker': 'AALI'},
 {'start': 1669, 'end': 1673, 'text': 'AALI', 'ticker': 'AALI'},
 {'start': 1849, 'end': 1853, 'text': 'AALI', 'ticker': 'AALI'}]