In [1]:
# Need a function that:

# Input: given a body of text
# Output: returns a list of company mentions in the text.
# Each company mention consists of (start, end of the text position; company ID).

# Alternatively:

# Input: given a list of sentences
# Output: for each sentence, a list of company mentions in the sentence.

In [2]:
import nlp.ner
import pandas as pd

In [3]:
# source: https://www.idx.co.id/en/market-data/stocks-data/stock-list
df = pd.read_excel("idx-stock-list-20230723.xlsx", index_col="No")

In [4]:
df.head()

,Code,Company Name,Listing Date,Shares,Listing Board
No,,,,,
1,BJTM,Bank Pembangunan Daerah Jawa T,12 Jul 2012,"14,865,343,101",Main
2,BKDP,Bukit Darmo Property Tbk,15 Jun 2007,"7,513,992,252",Development
3,BKSL,Sentul City Tbk.,28 Jul 1997,"167,708,902,705",Watchlist
4,BKSW,Bank QNB Indonesia Tbk.,21 Nov 2002,"34,953,681,505",Development
5,BLTA,Berlian Laju Tanker Tbk,26 Mar 1990,"25,940,187,103",Watchlist

In [5]:
# testcase 1
text = """
Analis memperkirakan pergerakan Indeks Harga Saham Gabungan (IHSG) akan melanjutkan penguatan pada Senin (24/7). Sebelumnya, IHSG pada perdagangan Jumat (21/7) ditutup menguat 0,24% atau 16,61 poin ke 6.880,80.

Analis MNC Sekuritas Herditya Wicaksana mencermati adanya penguatan IHSG hari Senin (24/7) dipengaruhi oleh beberapa sentimen di antaranya yakni sentimen global. Ekonomi China diperkirakan mengalami perlambatan dari Jepang, serta China masih mempertimbangkan kebijakan moneter mereka.


“Untuk sentimen sendiri, kami memperkirakan masih dibayangi oleh sentimen global, di mana ekonomi China diperkirakan mengalami perlambatan dan dari Jepang serta China masih mempertimbangkan kebijakan moneter mereka,” kata Herditya kepada Kontan, Jumat (21/7).

Sementara itu, Equity Research Analyst Alrich Paskalis Tambolang memperkirakan IHSG bergerak konsolidatif.

Baca Juga: Ini Deretan Emiten yang Diramal Masuk dan Keluar Indeks LQ45, Ada BUMI Hingga GGRM

“Dari eksternal, investor akan mencermati rilis kinerja keuangan perusahaan, terutama bank-bank besar di Eropa pada pekan depan, serta pengumuman hasil pertemuan ECB dan The Fed di tengah pekan depan (26 dan 27 Juli 2023),” ujarnya kepada Kontan, Jumat (21/7).

Sementara China akan menerapkan langkah-langkah kebijakan secara komprehensif untuk menstabilkan mata uangnya. Yuan mencatatkan penurunan sekitar 4% Year on Year (YoY) terhadap dolar Amerika Serikat (AS) sekaligus menjadi salah satu mata uang Asia dengan kinerja terburuk.

Inflasi Jepang pada Juni 2023 juga kembali mengalami kenaikan dan sudah berada di atas target bank sentral Jepang (Bank of Japan/BoJ). Kondisi ini mengindikasikan adanya pemulihan konsumsi di Jepang.

Berbeda dengan regional, laju inflasi di Indonesia berada di bawah level 4% dan dalam kecenderungan turun mendekati level tengah asumsi inflasi oleh pemerintah di 3% YoY. Asia Develompent Bank (ADB) juga menurunkan proyeksi inflasi Indonesia menjadi 3.8% yoy di 2023 dari proyeksi sebelumnya di 4.2% YoY.

“Dengan demikian, dampak kenaikan harga sejumlah komoditas pangan yang tengah terjadi saat ini kemungkinan bersifat sementara. Masih dari dalam negeri, BKPM mencatat perlambatan pertumbuhan foreign direct investment ke 14.2% YoY di Q2-2023 dari 20.2% YoY di Q1-2023,” kata Alrich.


AALI Chart by TradingView
Oleh karena itu, Alrich memprediksi IHSG bergerak konsolidatif pada 6.830 sampai dengan 6.930 pada Senin (24/7). Alrich merekomendasikan saham seperti AALI, DSNG, SMGR, BIRD, ASSA, MYOR, dan ASRI.

Sementara Herditya memprediksi IHSG berpeluang melanjutkan penguatannya dengan support 6.816 dan resist 6.897 pada Senin (24/7) dan merekomendasikan saham RAAM (dengan target harga Rp 690-Rp 740), EXCL (Rp 2.130-Rp 2.250), dan HRTA (Rp 440-Rp 460).
"""

In [6]:
mentions = nlp.ner.extract_company_mentions(text, df)
print(mentions)

[(2290, 2294, 'AALI'), (2467, 2471, 'AALI'), (2507, 2511, 'ASRI'), (2491, 2495, 'ASSA'), (2485, 2489, 'BIRD'), (946, 950, 'BUMI'), (2473, 2477, 'DSNG'), (2711, 2715, 'EXCL'), (958, 962, 'GGRM'), (2497, 2501, 'MYOR'), (2741, 2745, 'HRTA'), (2669, 2673, 'RAAM'), (2479, 2483, 'SMGR')]

In [7]:
text[2290:2294]

'AALI'

In [8]:
# testcase 2
text = """
KONTAN.CO.ID - JAKARTA. Chief Executive Officer (CEO) PT Medco Energi Internasional Tbk (MEDC) Roberto Lorato terus mengakumulasi saham perusahaan tempatnya bernaung. Dalam laporan kepemilikan saham di Bursa Efek Indonesia, Jumat (14/7), Roberto melaporkan telah membeli sebanyak 3,37 juta saham.

Warga negara Italia ini membeli saham MEDC pada 7 Juli 2023 sampai 12 Juli 2023, dengan rata-rata harga pembelian Rp 930. Hitungan Kontan.co.id, Roberto merogoh kocek Rp 3,13 miliar untuk pembelian ini.

Pembelian ini ditujukan untuk investasi dan dengan status kepemilikan langsung. Dengan pembelian ini, kepemilikan Roberto di emiten minyak dan gas (migas) ini semakin menggemuk. Sebelum pembelian, Roberto menggenggam 138,46 juta saham dan setelah pembelian bertambah menjadi 141,83 juta lembar.
"""

In [9]:
mentions = nlp.ner.extract_company_mentions(text, df)
print(mentions)

[(58, 88, 'Medco Energi Internasional Tbk'), (90, 94, 'MEDC'), (337, 341, 'MEDC')]

In [10]:
# testcase 3
text = """
MEDCOW is not the same as MEDC. 
JAKARTA is not the same with ARTA. 
KARTOS is not the same with ARTO.
Telkom Indonesia (Persero) Tbk is also known as TLKM.
"""

In [11]:
mentions = nlp.ner.extract_company_mentions(text, df)
print(mentions)

[(63, 67, 'ARTA'), (98, 102, 'ARTO'), (27, 31, 'MEDC'), (104, 134, 'Telkom Indonesia (Persero) Tbk'), (152, 156, 'TLKM')]

In [12]:
df[df["Code"]=="TLKM"]

,Code,Company Name,Listing Date,Shares,Listing Board
No,,,,,
424,TLKM,Telkom Indonesia (Persero) Tbk,14 Nov 1995,"99,062,216,600",Main

In [13]:
# Room for improvement
# 1. Some company names are cut short like "Bank Pembangunan Daerah Jawa T" in the database.
# Need to find other sources where they list the full name
# 2. For companies' full name, we can expand to match several version of the companies. For example, instead of only
# Telkom Indonesia (Persero) Tbk we should also match PT Telkom, PT Telkom Indonesia, PT Telekomunikasi Indonesia Tbk etc.