In [ ]:
setwd('..')

In [3]:
library(dplyr)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [4]:
conf_name = '20240216-5'

## Read data

In [ ]:
conf = jsonlite::fromJSON(sprintf('results/%s/config.json', conf_name))
conf

In [ ]:
events_orig = bind_rows(lapply(conf$data_paths, function(x) if (endsWith(x, '.parquet')) arrow::read_parquet(x) else read.csv(x)))
dim(events_orig)
c(mean(events_orig$is_top10), mean(events_orig$is_top5))

In [9]:
fpaths_stock_price = list.files('data/stock_price/yfinance/Adj Close/', full.names=TRUE)
fpaths_stock_price

stock_price_orig = bind_rows(lapply(fpaths_stock_price, read.csv, sep='|'))
dim(stock_price_orig)
head(stock_price_orig)

 [1] "data/stock_price/yfinance/Adj Close/2010.csv"
 [2] "data/stock_price/yfinance/Adj Close/2011.csv"
 [3] "data/stock_price/yfinance/Adj Close/2012.csv"
 [4] "data/stock_price/yfinance/Adj Close/2013.csv"
 [5] "data/stock_price/yfinance/Adj Close/2014.csv"
 [6] "data/stock_price/yfinance/Adj Close/2015.csv"
 [7] "data/stock_price/yfinance/Adj Close/2016.csv"
 [8] "data/stock_price/yfinance/Adj Close/2017.csv"
 [9] "data/stock_price/yfinance/Adj Close/2018.csv"
[10] "data/stock_price/yfinance/Adj Close/2019.csv"
[11] "data/stock_price/yfinance/Adj Close/2020.csv"
[12] "data/stock_price/yfinance/Adj Close/2021.csv"
[13] "data/stock_price/yfinance/Adj Close/2022.csv"
[14] "data/stock_price/yfinance/Adj Close/2023.csv"

[1] 3582  913

  Date       AALI.JK  ABBA.JK ABDA.JK  ABMM.JK ACES.JK  ACST.JK ADCP.JK ADES.JK
1 2010-01-04 15842.21 56      162.6890 NA      92.24622 NA      NA      630
2 2010-01-05 16074.69 56      162.6890 NA      92.86949 NA      NA      630
3 2010-01-06 16008.27 56      165.4004 NA      93.49278 NA      NA      630
4 2010-01-07 16639.30 58      165.4004 NA      92.86949 NA      NA      630
5 2010-01-08 16772.15 56      165.4004 NA      92.86949 NA      NA      630
6 2010-01-11 16572.88 56      162.6890 NA      93.49278 NA      NA      630
  ADHI.JK  ... WSKT.JK WTON.JK YELO.JK YPAS.JK  YULE.JK  ZATA.JK ZBRA.JK
1 262.5751 ... NA      NA      NA      530.7018       NA NA      50
2 256.1708 ... NA      NA      NA      540.3509       NA NA      50
3 259.3729 ... NA      NA      NA      540.3509 62.92437 NA      50
4 262.5751 ... NA      NA      NA      530.7018       NA NA      50
5 265.7772 ... NA      NA      NA      540.3509       NA NA      50
6 262.5751 ... NA      NA      NA      540.3509       NA NA      50
  ZINC.JK ZONE.JK ZYRX.JK
1 NA      NA      NA
2 NA      NA      NA
3 NA      NA      NA
4 NA      NA      NA
5 NA      NA      NA
6 NA      NA      NA

In [10]:
fpaths_stock_vol = list.files('data/stock_price/yfinance/Volume/', full.names=TRUE)
fpaths_stock_vol

stock_vol_orig = bind_rows(lapply(fpaths_stock_vol, read.csv, sep='|'))
dim(stock_vol_orig)
head(stock_vol_orig)

 [1] "data/stock_price/yfinance/Volume/2010.csv"
 [2] "data/stock_price/yfinance/Volume/2011.csv"
 [3] "data/stock_price/yfinance/Volume/2012.csv"
 [4] "data/stock_price/yfinance/Volume/2013.csv"
 [5] "data/stock_price/yfinance/Volume/2014.csv"
 [6] "data/stock_price/yfinance/Volume/2015.csv"
 [7] "data/stock_price/yfinance/Volume/2016.csv"
 [8] "data/stock_price/yfinance/Volume/2017.csv"
 [9] "data/stock_price/yfinance/Volume/2018.csv"
[10] "data/stock_price/yfinance/Volume/2019.csv"
[11] "data/stock_price/yfinance/Volume/2020.csv"
[12] "data/stock_price/yfinance/Volume/2021.csv"
[13] "data/stock_price/yfinance/Volume/2022.csv"
[14] "data/stock_price/yfinance/Volume/2023.csv"

[1] 3582  913

  Date       AALI.JK ABBA.JK ABDA.JK ABMM.JK ACES.JK ACST.JK ADCP.JK ADES.JK
1 2010-01-04 1006977 58500   55384   NA      1380000 NA      NA      162000
2 2010-01-05 1761555 58500       1   NA      2630000 NA      NA      379000
3 2010-01-06 1070471 16500    1384   NA       495000 NA      NA      317000
4 2010-01-07 2431649 80000       2   NA       995000 NA      NA      216500
5 2010-01-08  949256 16000       1   NA       405000 NA      NA       54500
6 2010-01-11  806526 16000   20769   NA       455000 NA      NA      207500
  ADHI.JK  ... WSKT.JK WTON.JK YELO.JK YPAS.JK YULE.JK ZATA.JK ZBRA.JK ZINC.JK
1   760195 ... NA      NA      NA       31000    NA    NA      3       NA
2 23960287 ... NA      NA      NA       72000    NA    NA      0       NA
3  8224249 ... NA      NA      NA      109500  1017    NA      0       NA
4 28799017 ... NA      NA      NA      106000    NA    NA      0       NA
5  4495758 ... NA      NA      NA       79500    NA    NA      0       NA
6  1191561 ... NA      NA      NA       90500    NA    NA      0       NA
  ZONE.JK ZYRX.JK
1 NA      NA
2 NA      NA
3 NA      NA
4 NA      NA
5 NA      NA
6 NA      NA

In [11]:
df_sectoral = readxl::read_xlsx('data/stock_price/sectoral/IDX_Sector_Price_Volume.xlsx')
df_sectoral$Date = as.Date(df_sectoral$Date)
df_sectoral = df_sectoral %>% arrange(Index, Date)

dim(df_sectoral)
head(df_sectoral)

[1] 8634    8

  Date       Price   Open    High    Low     Vol.  Change % Index
1 2021-01-26 1348.14 1363.05 1381.91 1335.17 3.43B -0.0079  IDX Basic Materials
2 2021-01-27 1321.57 1350.94 1353.49 1306.97 3.59B -0.0197  IDX Basic Materials
3 2021-01-28 1273.38 1310.99 1321.95 1269.47 3.04B -0.0365  IDX Basic Materials
4 2021-01-29 1260.19 1275.79 1303.68 1247.06 2.15B -0.0104  IDX Basic Materials
5 2021-02-01 1364.15 1260.06 1369.13 1235.66 4.87B  0.0825  IDX Basic Materials
6 2021-02-02 1354.09 1373.40 1379.14 1333.82 3.05B -0.0074  IDX Basic Materials

In [12]:
table(df_sectoral$Index)

       IDX Basic Materials      IDX Consumer Cyclical
                       717                        717
IDX Consumer Non-Cyclicals                 IDX Energy
                       717                        717
               IDX Finance             IDX Healthcare
                      1439                        717
           IDX Industrials         IDX Infrastructure
                       717                       1459
            IDX Technology         IDX Transportation
                       717                        717

## Process data

In [13]:
stock_vol = stock_vol_orig %>%
    select(matches('^(Date|\\w{4}\\.JK)$')) %>%
    rename_all(function(col_name) substr(col_name, 1, 4)) %>%
    rename(date=Date) %>%
    mutate_all(~ replace(., is.na(.), 0)) %>%
    mutate(date=as.Date(date))
               
trd_days = stock_vol %>% select(-c(date)) %>% rowSums > 0

stock_vol$TRUEX = stock_vol[['TRUE']]
stock_vol = stock_vol[trd_days,] %>% select(-c('TRUE'))

dim(stock_vol)
head(stock_vol)

[1] 3379  911

  date       AALI    ABBA  ABDA  ABMM ACES    ACST ADCP ADES   ADHI     ...
1 2010-01-04 1006977 58500 55384 0    1380000 0    0    162000   760195 ...
2 2010-01-05 1761555 58500     1 0    2630000 0    0    379000 23960287 ...
3 2010-01-06 1070471 16500  1384 0     495000 0    0    317000  8224249 ...
4 2010-01-07 2431649 80000     2 0     995000 0    0    216500 28799017 ...
5 2010-01-08  949256 16000     1 0     405000 0    0     54500  4495758 ...
6 2010-01-11  806526 16000 20769 0     455000 0    0    207500  1191561 ...
  WTON YELO YPAS   YULE ZATA ZBRA ZINC ZONE ZYRX TRUEX
1 0    0     31000    0 0    3    0    0    0    0
2 0    0     72000    0 0    0    0    0    0    0
3 0    0    109500 1017 0    0    0    0    0    0
4 0    0    106000    0 0    0    0    0    0    0
5 0    0     79500    0 0    0    0    0    0    0
6 0    0     90500    0 0    0    0    0    0    0

In [14]:
stock_volat = stock_price_orig %>%
    tidyr::fill(names(.)) %>%
    tidyr::fill(names(.), .direction='up') %>%
    filter(trd_days) %>%
    select(matches('^(Date|\\w{4}\\.JK)$')) %>%
    rename_all(function(col_name) substr(col_name, 1, 4)) %>%
    rename(date=Date) %>%
    mutate_all(~ replace(., is.na(.), 0)) %>%
    mutate(date=as.Date(date))

stock_volat$TRUEX = stock_volat[['TRUE']]
stock_volat = stock_volat %>% select(-c('TRUE'))

stock_volat = (stock_volat %>% select(-c(date)) / (stock_volat %>% select(-c(date)) %>% lag) - 1) %>%
    abs %>%
    mutate(date=stock_volat$date) %>%
    select(date, everything()) %>%
    slice_tail(n=-1)
               
dim(stock_volat)
head(stock_volat)

[1] 3378  911

  date       AALI        ABBA       ABDA       ABMM ACES        ACST ADCP ADES
1 2010-01-05 0.014675000 0.00000000 0.00000000 0    0.006756571 0    0    0
2 2010-01-06 0.004132200 0.00000000 0.01666641 0    0.006711472 0    0    0
3 2010-01-07 0.039419270 0.03571429 0.00000000 0    0.006666729 0    0    0
4 2010-01-08 0.007983969 0.03448276 0.00000000 0    0.000000000 0    0    0
5 2010-01-11 0.011881095 0.00000000 0.01639319 0    0.006711472 0    0    0
6 2010-01-12 0.006011682 0.00000000 0.00000000 0    0.006666729 0    0    0
  ADHI       ... WTON YELO YPAS       YULE ZATA ZBRA ZINC ZONE ZYRX TRUEX
1 0.02439023 ... 0    0    0.01818179 0    0    0    0    0    0    0
2 0.01249993 ... 0    0    0.00000000 0    0    0    0    0    0    0
3 0.01234573 ... 0    0    0.01785712 0    0    0    0    0    0    0
4 0.01219506 ... 0    0    0.01818179 0    0    0    0    0    0    0
5 0.01204813 ... 0    0    0.00000000 0    0    0    0    0    0    0
6 0.00000000 ... 0    0    0.00000000 0    0    0    0    0    0    0

In [ ]:
events = events_orig %>%
    filter(company_metioned != '') %>%
    tidyr::separate_rows(company_metioned, sep=',') %>%
    mutate(date=as.Date(substr(timestamp, 1, 10)))
dim(events)

In [ ]:
firm_dates = events %>%
    rename(firm=company_metioned) %>%
    mutate(firm=replace(firm, firm=='TRUE', 'TRUEX')) %>%
    group_by(firm, date) %>%
    summarise(n=n(), max_score=max(similarity), sum_score=sum(similarity))
dim(firm_dates)
head(firm_dates)

In [ ]:
table(lubridate::year(firm_dates$date))

In [ ]:
table(firm_dates$n)

In [ ]:
hist(firm_dates$max_score)

In [ ]:
hist(firm_dates$sum_score)

In [ ]:
table(firm_dates$firm) %>% sort(decreasing=TRUE)

In [30]:
sector_index_map = c(
    "Basic Materials",
    "Consumer Cyclicals",
    "Consumer Non-Cyclicals",
    "Energy",
    "Financials",
    "Healthcare",
    "Industrials",
    "Infrastructures",
    "Properties & Real Estate",
    "Technology",
    "Transportation & Logistic"
)
sector_index_map = setNames(c(
    "IDX Basic Materials",
    "IDX Consumer Cyclical",
    "IDX Consumer Non-Cyclicals",
    "IDX Energy",
    "IDX Finance",
    "IDX Healthcare",
    "IDX Industrials",
    "IDX Infrastructure",
    "IDX Infrastructure",
    "IDX Technology",
    "IDX Transportation"
    ),
    sector_index_map
)
sector_index_map

             Basic Materials           Consumer Cyclicals
       "IDX Basic Materials"      "IDX Consumer Cyclical"
      Consumer Non-Cyclicals                       Energy
"IDX Consumer Non-Cyclicals"                 "IDX Energy"
                  Financials                   Healthcare
               "IDX Finance"             "IDX Healthcare"
                 Industrials              Infrastructures
           "IDX Industrials"         "IDX Infrastructure"
    Properties & Real Estate                   Technology
        "IDX Infrastructure"             "IDX Technology"
   Transportation & Logistic
        "IDX Transportation"

In [31]:
firm_sector_map = readxl::read_xlsx('data/IDX_Ticker_And_Sector_2023.xlsx')
firm_sector_map = setNames(firm_sector_map$Sektor, firm_sector_map$Kode)

firm_index_map = setNames(sector_index_map[firm_sector_map], names(firm_sector_map))
firm_index_map['TRUEX'] = firm_index_map['TRUE']

head(firm_index_map, 20)
sum(is.na(firm_index_map[unique(firm_dates$firm)]))

                        AALI                         ABBA
"IDX Consumer Non-Cyclicals"      "IDX Consumer Cyclical"
                        ABDA                         ABMM
               "IDX Finance"                 "IDX Energy"
                        ACES                         ACST
     "IDX Consumer Cyclical"         "IDX Infrastructure"
                        ADCP                         ADES
        "IDX Infrastructure" "IDX Consumer Non-Cyclicals"
                        ADHI                         ADMF
        "IDX Infrastructure"                "IDX Finance"
                        ADMG                         ADMR
       "IDX Basic Materials"                 "IDX Energy"
                        ADRO                         AEGS
                "IDX Energy"      "IDX Consumer Cyclical"
                        AGAR                         AGII
"IDX Consumer Non-Cyclicals"        "IDX Basic Materials"
                        AGRO                         AGRS
               "IDX Finance"                "IDX Finance"
                        AHAP                         AIMS
               "IDX Finance"                 "IDX Energy"

[1] 0

## CausalImpact

In [40]:
get_date_index = function(dt, date_col) {
    testit::assert(length(dt) == 1)
    testit::assert(length(date_col) >= 1)
    
    dt = as.Date(dt)
    if (class(date_col) != 'Date') {
        date_col = as.Date(date_col)
    }
    
    max_dt = max(date_col)
    if ((dt > max_dt) | (dt < min(date_col))) {
        return(0)
    }
    
    while (dt <= max_dt) {
        idx = which(date_col == dt)
        if (length(idx) > 0) {
            return(idx)
        }
        
        dt = dt + 1
    }
    return(0)
}


get_series = function(dt, date_col, x, n_pre=66, n_post=5) {
    testit::assert(n_post >= 1)
    testit::assert(n_pre >= 3)
    
    if (length(x) < n_pre + n_post) {
        return()
    }
    
    idx = get_date_index(dt, date_col)
    if (idx == 0) {
        return()
    }
    
    pre = x[max(idx - n_pre, 1):(idx - 1)]
    post = x[idx : min(idx + n_post - 1, length(x))]
    
    if ((length(pre) < n_pre) | (length(post) < n_post)) {
        return()
    }
    
    pre = zoo::zoo(pre, date_col[max(idx - n_pre, 1):(idx - 1)])
    post = zoo::zoo(post, date_col[idx : min(idx + n_post - 1, length(x))])
    
    return(list(pre=pre, post=post, index=idx, date=date_col[idx]))
}

run_causalimpact = function(obs_id, date, date_col, n_pre, n_post, X=NULL, select_data=NULL, normalize=NULL, controls=c(), causalimpact_args=list(), metadata=list()) {
    # controls: sectoral_price, sectoral_return, sectoral_volatility
    cat(obs_id); cat(date); cat('  '); flush.console()
    
    testit::assert(!is.null(X) | !is.null(select_data))
    empty_result = list(obs_id=obs_id, event_date=date, metadata=metadata)
    
    if (is.null(select_data)) {
        testit::assert(obs_id %in% names(X))
        testit::assert(nrow(X) > n_pre + n_post)
        testit::assert(nrow(X) == length(date_col))
        
        series = get_series(date, date_col, X[[obs_id]], n_pre=n_pre, n_post=n_post)
        dates = zoo::index(c(series$pre, series$post))
        data = as.data.frame(c(series$pre, series$post))
        names(data) = obs_id
        data = zoo::zoo(data, dates)
    } else {
        data = select_data(obs_id, date, n_pre=n_pre, n_post=n_post)
        dates = zoo::index(data)
    }
    testit::assert(nrow(data) == n_pre + n_post)
    
    if (!is.null(normalize)) {
        if (is.function(normalize)) {
            data[,obs_id] = normalize(data[,obs_id])
        } else {
            testit::assert(normalize %in% c('standardize', '1_mean'))
            
            if (normalize == 'standardize') {
                m = mean(data[1:n_pre, obs_id], na.rm=TRUE)
                s = sd(data[1:n_pre, obs_id], na.rm=TRUE)    # s can be 0 --> CI won't run --> this result will be ignored
                
                if (is.na(s) | (s == 0)) { return(empty_result) }
                data[,obs_id] = (data[,obs_id] - m) / s

            } else if (normalize == '1_mean') {
                m = mean(data[1:n_pre, obs_id], na.rm=TRUE)    # m can be 0 --> CI won't run --> this result will be ignored
                
                if (is.na(m) | (m == 0)) { return(empty_result) }
                data[,obs_id] = data[,obs_id]/m
            }
        }
    }
    
    pre_period = c(dates[1], dates[n_pre])
    post_period = c(dates[n_pre + 1], dates[nrow(data)])
    
    if (date >= '2021-05-01') {
        sector_idx = firm_index_map[obs_id]
        Xc = df_sectoral %>% filter(Index==sector_idx)
        
        for (cs in c('sectoral_price', 'sectoral_return', 'sectoral_volatility')) {
            if (cs %in% controls) {
                if (cs == 'sectoral_price') {
                    xc = Xc$Price
                } else if (cs == 'sectoral_return') {
                    xc = Xc$Price / Xc$Open - 1
                } else if (cs == 'sectoral_volatility') {
                    xc = abs(Xc$Price / Xc$Open - 1)
                }
                
                xc = setNames(xc, Xc$Date)
                xc = xc[as.character(dates[1:nrow(data)])]
                
                if (cs %in% c('sectoral_price')) {
                    xc = xc / min(xc[1:n_pre])    # normalize
                }
                
                data = cbind(data, xc)
                colnames(data)[ncol(data)] = paste0('control_', cs)
            }
        }
    }
    
    ci_args = causalimpact_args
    
    model = CausalImpact::CausalImpact(data, pre.period=pre_period, post.period=post_period, model.args=list(
        standardize.data=ci_args$model$standardize.data, nseasons=ci_args$model$nseasons, season.duration=ci_args$model$season.duration))
    
    model$obs_id = obs_id
    model$event_date = date
    model$metadata = metadata
    
    return(model)
}

concat_causalimpact_series = function(ci_results) {
    return(
        bind_rows(
            lapply(ci_results, function(x) {
                if (is.null(x$series)) { return() }
                
                obs_id = x$obs_id
                evt_date = x$event_date
                
                x = as.data.frame(x$series)
                x$obs_id = obs_id
                x$event_date = evt_date
                x$date = as.Date(rownames(x))
                rownames(x) = 1:nrow(x)
                
                return(x)
        }))
    )
}

concat_causalimpact_summary = function(ci_results, is_avg=TRUE) {
    if (length(ci_results) == 0) { return() }
    
    if (is_avg) { col = 'Average' }
    else { col = 'Cumulative' }
    
    df_result = bind_rows(lapply(ci_results, function(x) if(is.null(x$summary)) data.frame(matrix(nrow=1, ncol=0)) else x$summary[col,]))
    df_result$obs_id = purrr::map_chr(ci_results, purrr::pluck, 'obs_id')
    df_result$event_date = purrr::map_vec(ci_results, purrr::pluck, 'event_date')
    
    df_metadata = bind_rows(purrr::map(ci_results, purrr::pluck, 'metadata'))
    df_result = bind_cols(df_result, df_metadata)
    
    df_result = df_result %>% filter(!is.na(p))    # null: if series is ill-defined e.g. normalized with 0 sd
    rownames(df_result) = 1:nrow(df_result)
    return(df_result)
}

### Random dates

In [24]:
set.seed(567890)

random_fdates_list = list()
for (y in 2016:2023) {
    random_fdates = firm_dates %>% filter(lubridate::year(date) == y) %>% ungroup()
    
    dates_in_year = seq(as.Date(paste0(y, '-01-01')), as.Date(paste0(y, '-12-31')), by='1 day')
    dates_in_year = dates_in_year[dates_in_year <= max(firm_dates$date)]
    random_dates = c()

    for (i_firm in unique(random_fdates$firm)) {
        random_fdates_firm = random_fdates %>% filter(firm==i_firm)
        random_dates = c(random_dates, sample(setdiff(dates_in_year, random_fdates_firm$date), size=nrow(random_fdates_firm), replace=FALSE))
    }
    random_dates = as.Date(random_dates, origin='1970-01-01')
    random_fdates = random_fdates %>% mutate(random_date=random_dates)
    
    print(nrow(random_fdates %>% inner_join(random_fdates %>% select(firm, random_date) %>% rename(date=random_date), by=c('firm', 'date'))))
    random_fdates_list = c(random_fdates_list, list(random_fdates))
}

random_fdates = bind_rows(random_fdates_list) %>% select(-c('date')) %>% rename(date=random_date)
head(random_fdates)

[1] 0
[1] 0
[1] 0
[1] 0
[1] 0
[1] 0
[1] 0
[1] 0

  firm n max_score sum_score date
1 AALI 1 0.7055333 0.7055333 2016-07-01
2 AALI 1 0.7534191 0.7534191 2016-07-07
3 AALI 1 0.7116593 0.7116593 2016-11-07
4 AALI 1 0.6993880 0.6993880 2016-07-30
5 AALI 1 0.8159519 0.8159519 2016-10-12
6 AALI 1 0.7363428 0.7363428 2016-12-21

In [25]:
all(table(lubridate::year(random_fdates$date)) == table(lubridate::year(firm_dates$date)))
all(table(random_fdates$firm) == table(firm_dates$firm))
firm_dates %>% inner_join(random_fdates %>% select(firm, date), by=c('firm', 'date'))

[1] TRUE

[1] TRUE

     firm date n max_score sum_score

## Run

In [ ]:
conf_name
conf

In [ ]:
if (conf$dummy) {
    fdates = random_fdates
} else {
    fdates = firm_dates
}
head(fdates)

In [ ]:
years = 2016:2023

for (y in years) {
    print(y)
    fdy = fdates %>% filter(lubridate::year(date) == y)
    
    results = purrr::pmap(fdy, function(firm, date, n, max_score, sum_score)
        run_causalimpact(firm, date,
            X=stock_vol, date_col=stock_vol$date,
            n_pre=conf$n_pre, n_post=conf$n_post,
            normalize=conf$normalize, causalimpact_args=conf$causalimpact,
            controls=conf$controls,
            metadata=list(n_events=n, max_score=max_score, sum_score=sum_score),
            )
        )
    
    ci_summary_avg = concat_causalimpact_summary(results, is_avg=TRUE)
    ci_summary_cum = concat_causalimpact_summary(results, is_avg=FALSE)
    ci_series = concat_causalimpact_series(results)
    
    write.csv(ci_summary_avg, file=sprintf('results/%s/ci_summary_avg_%d.csv', conf_name, y), na='', quote=FALSE, row.names=FALSE)
    write.csv(ci_summary_cum, file=sprintf('results/%s/ci_summary_cum_%d.csv', conf_name, y), na='', quote=FALSE, row.names=FALSE)
    write.csv(ci_series, file=sprintf('results/%s/ci_series_%d.csv' , conf_name, y), na='', quote=FALSE, row.names=FALSE)
}

for (col in c('avg', 'cum')) {
    z = bind_rows(lapply(2016:2023, function(x) read.csv(sprintf('results/%s/ci_summary_%s_%d.csv', conf_name, col, x))))
    write.csv(z, sprintf('results/%s/ci_summary_%s.csv', conf_name, col), na='', quote=FALSE, row.names=FALSE)
}